@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


h1 {

    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 44px;
}

.head_title {
    font-size: 30px;
    color: #46444a;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_beg {
    display: flex;

}



.container{
    padding: 80px 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 50px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.feature__title {
    font-weight: 700;
}

.nav__links {
    display: flex;
    align-items: center;

}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #46444a;
    font-weight: none;
    padding: 8px;
    font-weight: 500;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid rgba(100,21,255);
    border-radius: 4px;
}

 .nav__link--primary:hover {
    text-decoration: none;
 }

 .sign__up {
    border: 2px solid rgba(100,21,255);
    border-radius: 20px;
    background-color:rgba(100,21,255);
    margin-left: 12px;
 }  
 .sign__up--color {
    color: white;
     display: flex;
align-items: center;  
    margin: 0 5px;
}

/* MAIN BODY 
///
///
/// */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.email__form {
    position: relative;
    max-width: 28rem;
}

.email__input {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    transition-duration: 300ms;
    padding-left: 2rem;
}

input {
    border-style: solid;
}

button {
    cursor: pointer;
}

.btn__start {
    border: none;
    width: 10rem;
    position: absolute;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(100,21,255);
    color: rgba(247,250,252);
    font-weight: 700;
    margin-right: 0.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
}

.header__para {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

.customers__img {
    width: 100%;
    max-width: 400px;
}

.header__img--container {
    width: 60%;
    padding: 0 24px;
}

.header__img {
    width: 100%;
    max-width: 800px;
}

.email__form {
    padding: 30px 0;
}

.customer__para {
    padding-bottom: 5px;
    color: gray;
}

/* 

SERVICES

*/
.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 250px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features__heading {
    padding: 15px 0;
    font-size: 59px;
}

.span__color {
  color: rgba(100,21,255);  
}

.features__para {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  
}

.service {
    margin: 20px 0;
    width: calc(100% / 3);
    display: flex;
    
}

.service__para {
    max-width: 250px;
    color: gray;
    padding-top: 10px;
}

.service__figure {
    padding: 10px;
    border-radius: 9999px;
    border-width: 1px;
    border-color: rgb(220, 217, 217);
    border-style: solid;
    height: 50px;
    margin-right: 14px;
}

/* QUALITY WORK
//
//
*/

.btn__learnmore {
    background-color: rgba(100,21,255);
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 9999px;
    width: 22%;
    padding: 16px 16px;
}

.texts {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.quality__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 0 34px;

}
.quality__header {
    padding: 15px 0;
    text-align: left;
    font-size: 50px;
}
.quality__row {
    display: flex;
}

.quality__para {
    padding: 15px 0;
}

/*

STEPS

*/



.steps {
    display: flex;
}

.steps__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.steps__img {
    width: 80%;
}

.step__texts {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.steps__list {
    padding-left: 20px;
}
.steps__lists {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5 rem;
}

.numbers {
    color: rgb(218, 213, 213);
    font-size: 36px;
}

.list__nums {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.list__num {
    display: flex;
    align-items: flex-start;
    padding-top: 18px;
}

.steps__title {
    margin-top: 20px;
}

/* 
PRICING

*/


.pricing__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title--beg {
    font-weight: bold;
    font-size: 14px;
}

.pricing__values {
    display: flex;
    justify-content: space-around;
}

.top__line {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 6px;
    background-color: rgb(56, 178, 172);
}

.top__line--end {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 6px;
    background-color: rgb(245, 101, 101);
}

.pricing__h1 {
    padding: 15px 0;
}

.pricing__values {
    padding-top: 30px;
    text-align: center;

}

.pricing__para {
    padding-bottom: 30px;
    margin: 0 330px;
    text-align: center;
}

.price__btn {
    font-size: 12px;
    border-radius: 9999px;
    padding: 14px 50px;
    border-width: 0;
    font-weight: bold;
    cursor: not-allowed;
}

.price__btn--first {
    background-color: rgb(56, 178, 172);
    color: white;

}

.price__btn--second {
    background-color: white;
    color: rgb(100 21 255);
}

.price__btn--third {
    background-color: rgb(245, 101, 101);
    color: white;
}

.pricing__value-beggining {
    width: 100%;
    border-style: solid;
    border-radius: 12px;
    border-width: 0.2px;
    border-color: rgb(196, 194, 194);
    margin: 0 40px;
    padding: 40px 0;
    position: relative;
}

.line {
    border: solid;
    border-width: 0.2px;
    color: rgb(218, 213, 213);
    margin: 20px 0;
}

.pricing__value-middle {
    width: 100%;
    border-style: solid;
    border-radius: 12px;
    border-width: 0.2px;
    border-color: rgb(196, 194, 194);    padding: 40px 0;
    background-color: rgb(97, 92, 250);
    color: white;
}

.pricing__value-last {
    width: 100%;
    border-style: solid;
    border-radius: 12px;
    border-width: 0.2px;
    border-color: rgb(196, 194, 194);    margin: 0 40px;
    padding: 40px 0;
    position: relative;

}

.pricing__value--para {
    padding: 10px 0;
    font-size: 14px;
    color: gray;
}

.pricing__value--second-middle {
    color: white;
}

/* VALUE 
 */

 .values {
    display: flex;
    align-items: center;
 }

 .dollar__sign {
    border: 2px;
    border-radius: 999px;
    background-color: #9AE6B4;
    margin-right: 10px;
 }

 .fa-dollar-sign {
    margin: 6px 10px;
 }

 .suitcase {
    border: 2px;
    border-radius: 999px;
    background-color: rgb(240, 162, 175);
    margin-right: 10px;
 }

 .fa-suitcase {
    margin: 8px 8px;
 }

 .values__img {
    width: 500px;
 }

 .values__text--small-title {
    display: flex;
    align-items: center;
 }

 .values__texts--small {
    display: flex;
 }

 .values__text--small-title-second {
    display: flex;
    align-items: center;
 }